@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

::-webkit-scrollbar {
  display: none;
}

html,
body {
  font-family: Arial, sans-serif;
}

.comfit-text{
  font-family: 'Play', sans-serif;
}

.logo {
  font-family: 'Play', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.copyright {
  font-family: 'Play', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}